<div class="row page-overview">
    <div class="col s12" id="overview">
        <h1>Overview</h1>
    </div>

    <div class="col s12" id="libraries">
        <div class="row">
            {{#each this.model as |library|}}
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{library.name}}</span>

                            <h3>Drives</h3>
                            {{#each library.drives as |drive|}}
                            <div class="drive-info">
                                <h4>{{drive.name}}</h4>
            				    <table class="info-list">
                                    <tr>
                                        <td>Device File:</td><td><code>{{loader.file}}</code></td>
                                    </tr>
                                </table>
                            </div>
                            {{else}}
                            <p class="info">This library has no configured drives. If this is unexpected, check your configuration.</p>
                            {{/each}}


                            <h3>Loaders</h3>
                            {{#each library.loaders as |loader|}}
                            <div class="loader-info">
                                <h4>{{loader.name}}</h4>
            				    <table class="info-list">
                                    <tr>
                                        <td>Device File:</td><td><code>{{loader.file}}</code></td>
                                    </tr>
                                    <tr>
                                        <td>Elements:</td><td>{{loader.elements.length}} ({{loader.storageElements.length}} storage, {{loader.otherElements.length}} other)</td>
                                    </tr>
                                </table>
                            </div>
                            {{else}}
                            <p class="info">This library has no configured loaders. If this is unexpected, check your configuration.</p>
                            {{/each}}
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="alert-box error">
                    <p>
                        <strong>No Libraries Found</strong>
                        Backuperator was unable to detect any tape libraries, or some other IO error occurred during startup. Check your configuration file, logs, and iolib; then restart this service.
                    </p>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="col s12" id="inventory">
		{{! One collapsible thing for each library's loader}}
		<ul class="collapsible popout" data-collapsible="accordion">
            {{#each this.model as |library|}}
                {{#each library.loaders as |loader|}}
        			<li>
        				<div class="collapsible-header">{{library.name}}: {{loader.name}}</div>
        				<div class="collapsible-body">
                            {{! list some generic info about the loader}}
        				    <table class="info-list">
                                <tr>
                                    <td>Device File:</td><td><code>{{loader.file}}</code></td>
                                </tr>
                                <tr>
                                    <td>Elements:</td><td>{{loader.elements.length}} ({{loader.storageElements.length}} storage, {{loader.otherElements.length}} other)</td>
                                </tr>
                            </table>

                            {{! build a table of elements}}
                            <div class="row inventory-slots">
                                {{#each loader.elements as |element|}}
                                    <div class="col m1 {{if element.isEmpty 'empty' 'full'}} {{if element.kind.isStorage 'storage'}} {{if element.kind.isPortal 'portal'}} {{if element.kind.isDrive 'drive'}} {{if element.kind.isTransport 'transport'}}">
                                        <div class="address">{{element.address}}</div>
                                        <div class="label">
                                            {{#if element.label.length}}
                                                <code>{{element.label}}</code>
                                            {{else}}
                                                {{#if element.isEmpty}}
                                                    {{! Placeholder if the slot is empty}}
                                                {{else}}
                                                    N/A
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                    </div>
                                {{/each}}
                            </div>

                            {{! Legend for inventory}}
                            <div class="row inventory-legend">
                                <div class="col offset-m1 m2">
                                    <div class="full">Full</div>
                                </div>
                                <div class="col m2">
                                    <div class="storage">Storage</div>
                                </div>
                                <div class="col m2">
                                    <div class="portal">Portal</div>
                                </div>
                                <div class="col m2">
                                    <div class="transport">Transport</div>
                                </div>
                                <div class="col m2">
                                    <div class="drive">Drive</div>
                                </div>
                            </div>
        				</div>
        			</li>
                {{/each}}
            {{/each}}
		</ul>
    </div>
</div>
