<div class="row page-overview">
    <div class="col s12" id="overview">
        <h1>Overview</h1>
    </div>

    <div class="col s12" id="libraries">
        <div class="row">
            {{#each this.model as |library|}}
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{library.name}}</span>

                            {{library}}

                            <h3>Drives</h3>
                            {{#each this.drives as |drive|}}
                            BOOP DRIVE
                            {{else}}
                            <p class="info">This library has no configured drives. If this is unexpected, check your configuration.</p>
                            {{/each}}


                            <h3>Loaders</h3>
                            {{#each this.loaders as |loader|}}

                            {{else}}
                            <p class="info">This library has no configured loaders. If this is unexpected, check your configuration.</p>
                            {{/each}}
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="alert-box error">
                    <p>
                        <strong>No Libraries Found</strong>
                        Backuperator was unable to detect any tape libraries, or some other IO error occurred during startup. Check your configuration file, logs, and iolib; then restart this service.
                    </p>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="col s12" id="inventory">
        <p>Display all inventory</p>
    </div>
</div>
